In [ ]:
!pip install ipykernel
!pip install pyarrow

In [ ]:
import sys,os
venv_path = os.path.join(os.path.dirname(os.getcwd()), 'venv')
if os.path.exists(venv_path):
    # Add the venv to the path
    venv_site_packages = os.path.join(venv_path, 'Lib', 'site-packages')
    if venv_site_packages not in sys.path:
        sys.path.insert(0, venv_site_packages)
    print(f"Added {venv_site_packages} to Python path")
else:
    print("Virtual environment not found")

In [ ]:
import pandas as pd
base_dir_path=os.path.dirname(os.getcwd())
base_dir_path

In [79]:
dataset_products=pd.read_parquet(os.path.join(base_dir_path,"dataset/source_files/shopping_queries_dataset_products.parquet"))

In [80]:
dataset_examples=pd.read_parquet(os.path.join(base_dir_path,"dataset/source_files/shopping_queries_dataset_examples.parquet"))

In [81]:
filt_examples=dataset_examples[(dataset_examples["product_locale"]=="us") & (dataset_examples["esci_label"]=="E")]

In [82]:
sampled_examples=filt_examples.sample(n=50,random_state=42)

In [83]:
len(sampled_examples["query"].unique())

50

In [84]:
sampled_examples.to_parquet(os.path.join( base_dir_path,"dataset/sampled_dataset/sampled_query_examples.parquet"))

In [85]:
# with above sampled 50 unique queries, creating a dataset of 11 or 10 records per query sampled from filt_examples
sampled_dataset = pd.DataFrame()

for idx,query in enumerate(sampled_examples["query"].unique()):
  query_examples = filt_examples[filt_examples["query"]==query]
  sample_cnt=11
  if idx>=17 and idx<=40:
    sample_cnt=10
  query_examples = query_examples.sample(min(sample_cnt, len(query_examples)), random_state=42)
  sampled_dataset = pd.concat([sampled_dataset, query_examples])
  if len(sampled_dataset) >= 500:
    break

In [86]:
len(sampled_dataset["query"].unique())

50

In [87]:
len(sampled_dataset["product_id"].unique())

500

In [88]:
len(sampled_dataset)

500

In [89]:
sampled_dataset.head()

,example_id,query,query_id,product_id,product_locale,esci_label,small_version,large_version,split
2111742,2111742,vena iphone case,108170,B01KUFDYCA,us,E,0,1,train
2111744,2111744,vena iphone case,108170,B018ES4D20,us,E,0,1,train
2111731,2111731,vena iphone case,108170,B07VSSSWRJ,us,E,0,1,train
2111745,2111745,vena iphone case,108170,B015P4OQZ0,us,E,0,1,train
2111737,2111737,vena iphone case,108170,B07HB91B2R,us,E,0,1,train

In [90]:
sampled_dataset.to_parquet(os.path.join( base_dir_path,"dataset/sampled_dataset/sampled_product_ids_dataset.parquet"))

In [91]:
sampled_dataset["esci_label"].value_counts()
# dataset["product_locale"].value_counts()

esci_label
E    500
Name: count, dtype: int64

In [92]:
sampled_dataset_product_ids=sampled_dataset["product_id"].tolist()

In [93]:
len(sampled_dataset_product_ids)

500

In [94]:
sampled_datavals_products=dataset_products[(dataset_products["product_id"].isin(sampled_dataset_product_ids)) & (dataset_products["product_locale"]=="us")]

In [ ]:
sampled_datavals_products

In [95]:
sampled_datavals_products.iloc[0]["product_title"]

'Want Want Big Shelly Shenbei Snowy Crispy Rice Cracker Biscuits - Sugar Glazed 5.30 oz.'

In [96]:
sampled_datavals_products.iloc[0]["product_description"]

'Shelly Senbei is a delicious snack that you can enjoy anytime. Its sweet and savory flavor is irresistible. The rice cracker is baked not fried, and is topped with a light frosting and has a crispy crunch that is sure to please. Shelly Senbei Comes in three flavors, original, seaweed, and teriyaki.'

In [97]:
sampled_datavals_products.iloc[0]["product_bullet_point"]

'Want Want Big Shelly Shenbei Snowy Crispy Rice Cracker Biscuits - Sugar Glazed 5.30 oz\nCholesterol-Free, Gluten-Free, and Suitable for Vegetarians\nBaked and not Fried, and Delicious straight from the package\nNumber one Asian Rice Cracker in Hawaii and the Mainland, Product of Taiwan'

In [98]:
import numpy as np
sampled_datavals_products['ID'] = np.arange(0, len(sampled_datavals_products))

C:\Users\sachi\AppData\Local\Temp\ipykernel_58848\2656106218.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sampled_datavals_products['ID'] = np.arange(0, len(sampled_datavals_products))

In [99]:
sampled_datavals_products.to_parquet(os.path.join( base_dir_path,"dataset/sampled_dataset/sampled_datavals_product_data.parquet"))

In [100]:
sampled_examples=pd.read_parquet(os.path.join( base_dir_path,"dataset/sampled_dataset/sampled_query_examples.parquet"))

In [101]:
sampled_dataset_imbalanced = pd.DataFrame()

for idx,query in enumerate(sampled_examples["query"].unique()):
  query_examples = filt_examples[filt_examples["query"]==query]
  sampled_dataset_imbalanced = pd.concat([sampled_dataset_imbalanced, query_examples])
  if len(sampled_dataset_imbalanced) >= 500:
    break

In [102]:
sampled_dataset_imbalanced = sampled_dataset_imbalanced[:500]
len(sampled_dataset_imbalanced)

500

In [103]:
len(sampled_dataset_imbalanced["query"].unique())

33

In [104]:
sampled_dataset_imbalanced["query"].value_counts()

query
toaster                                   29
flamingos                                 27
xbox one                                  27
toy airplane                              25
your germs are too big for me sign        19
food socks                                16
bafang                                    16
eye trimmer for women                     16
rainproof car mirror sticker              16
fabric freshener spray                    16
face crayons                              16
jigsaw puzzles for older adults           16
bottle feeding                            16
brown shoes                               16
pumpkin carving kit                       16
twin air mattress                         15
fringe trim                               15
couch patch                               15
lingerie set for women                    15
lysol bathroom cleaner                    15
asian snacks                              15
cover up for bathing suits for women      15
vena iphone case                          14
nut and fruit basket                      14
baby spice costume                        13
kurta men                                 11
football live                             11
workout hoodie                            10
abode security system                      9
leggings with pockets not high waisted     7
white plant stand with drawer              7
friction strips                            6
baseball tee                               6
Name: count, dtype: int64

In [105]:
sampled_dataset_imbalanced_product_ids=sampled_dataset_imbalanced["product_id"].tolist()

In [106]:
sampled_datavals_products_imbalanced=dataset_products[(dataset_products["product_id"].isin(sampled_dataset_imbalanced_product_ids)) & (dataset_products["product_locale"]=="us")]

In [107]:
import numpy as np
sampled_datavals_products_imbalanced['ID'] = np.arange(0, len(sampled_datavals_products_imbalanced))

C:\Users\sachi\AppData\Local\Temp\ipykernel_58848\3686728731.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sampled_datavals_products_imbalanced['ID'] = np.arange(0, len(sampled_datavals_products_imbalanced))

In [108]:
sampled_datavals_products_imbalanced.to_parquet(os.path.join( base_dir_path,"dataset/sampled_dataset/sampled_datavals_product_data_imbalanced.parquet"))